body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #DADADA;
    color: black;
}
  
header{
    background-color: white;
    border-bottom: 3px solid #c3c3c3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
}

h1 {
    font-weight: 500px;
    font-size: 25px;
}

#main {
    padding: 16px 24px 16px 24px;
}

#containerConfig {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 16px;
}

#containerInformation {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}
#info {
    padding: 8px 150px 8px 150px;
}

#containerMainBoard {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

#containerReset {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 16px;
}

#mainBoard {
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}
.container {
    width: 450px;
    height: 450px;
    display: block;
    margin: 0 auto;
}
.cell {
    width: 20%;
    height: 20%;
    background-color: #d3d3d3;
    float: left;
    border: 1px solid white;
}
button.player1 {
    margin-left: 20%;
    margin-right: 20px;
    padding: 30px 50px;
    background-color: orangered;
    cursor: pointer;
}
button.player2 {
    margin-right: 20%;
    margin-left: 20px;
    padding: 30px 50px;
    background-color: skyblue;
    cursor: pointer;
}
.players {
    margin-bottom: 16px;
}
.player1 {
    background-color: orangered;
} 
.player2 {
    background-color: skyblue;
}
.win {
    background-color: springgreen;
}

#boardSizeConfig {
    font-size: 14px;
}

#selectBoardSizeConfig {
    padding: 4px 9px;
    margin-left: 12px;
    font-weight: bold;
    cursor: pointer;
}

#buttonBoardSizeSubmit {
    padding: 4px 9px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.button-display-none {
    display: none;
}
.button-display-block {
    display: block;
}
.reset {
    background-color: #DADADA;
}